@use "../profile/SizeControl.scss" as *;

$ultra_wide_break: 1908px;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  overflow-x: hidden;

  .logo {
    position: absolute;
    margin-left: 15px;
    top: 31px;
    z-index: 3;

    @include dynamicControl(
      (
        margin-left: 15px,
        top: 31px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1545.98px
    );

    @include ultraWideControl(
      (
        margin-left: 15px,
        top: 31px,
      ),
      $start-point: $ultra_wide_break
    );

    @media (max-width: $mobile-breakpoint) {
      top: 19px;
    }

    img {
      width: 150px;
      height: auto;

      @include dynamicControl(
        (
          width: 150px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1545.98px
      );

      @include ultraWideControl(
        (
          width: 150px,
        ),
        $start-point: $ultra_wide_break
      );
    }
  }
}

.top {
  width: 100%;
  height: 280px;
  margin-bottom: -135px;
  animation: horizontal_reveal 2s ease-in-out;

  @include dynamicControl(
    (
      height: 280px,
      margin-bottom: -135px,
    ),
    $dynamic-start-point: $defaultDSP,
    $dynamic-end-point: 1545.98px
  );

  @include ultraWideControl(
    (
      height: 280px,
      margin-bottom: -135px,
    ),
    $start-point: $ultra_wide_break
  );
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;

  @include dynamicControl(
    (
      margin-top: 30px,
    ),
    $dynamic-start-point: $defaultDSP,
    $dynamic-end-point: 1545.98px
  );

  @include ultraWideControl(
    (
      margin-top: 30px,
    ),
    $start-point: $ultra_wide_break
  );

  @media (max-width: $mobile-breakpoint) {
    margin-top: 20px;
  }

  .lines {
    display: flex;
    flex-direction: row;
    gap: 400px;

    @include ultraWideControl(
      (
        gap: 400px,
      ),
      $start-point: $ultra_wide_break
    );

    @include dynamicControl(
      (
        gap: 400px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1545.98px
    );

    @media (max-width: $mobile-breakpoint) {
      gap: 220px;
    }

    @media (max-width: 600.98px) {
    }

    svg {
      width: 480px;
      height: auto;

      @include ultraWideControl(
        (
          width: 480px,
        ),
        $start-point: $ultra_wide_break
      );

      @include dynamicControl(
        (
          width: 480px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1545.98px
      );

      @include mobileControl(
        (
          width: 160px,
        )
      );

      @media (max-width: 600.98px) {
        width: 160px;
        opacity: 0;
      }
    }

    .line2 {
      transform: scaleX(-1);
    }
  }

  h1,
  h3 {
    text-align: center;
  }

  .header {
    margin-top: 45px;
    background: linear-gradient(0deg, #004e89, #0096f3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Optional for broader browser support */
    background-clip: text;
    color: transparent;
    width: 500px;
    height: 150px;
    margin-right: 10px;

    @include dynamicControl(
      (
        width: 500px,
        height: 150px,
        margin-right: 10px,
        margin-top: 45px,
        font-size: 90px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1300.98px
    );

    @include ultraWideControl(
      (
        width: 500px,
        height: 150px,
        margin-right: 10px,
        margin-top: 45px,
        font-size: 90px,
      ),
      $start-point: $ultra_wide_break
    );

    @include mobileControl2(
      (
        width: 500px,
        height: 150px,
        margin-right: 10px,
        margin-top: 70px,
        font-size: 90px,
      )
    );
  }

  .title {
    margin-top: 0px;
    margin-right: 0px;

    @include dynamicControl(
      (
        margin-top: 0px,
        margin-right: 0px,
        font-size: 20px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1300.98px
    );

    @include ultraWideControl(
      (
        font-size: 20px,
      ),
      $start-point: $ultra_wide_break
    );

    @include mobileControl2(
      (
        font-size: 20px,
      )
    );
  }

  .mountain {
    margin-top: 90px;
    width: 1200px;
    height: auto;

    @include dynamicControl(
      (
        margin-top: 90px,
        width: 1200px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1300.98px
    );

    @include ultraWideControl(
      (
        margin-top: 90px,
        width: 1200px,
      ),
      $start-point: $ultra_wide_break
    );

    @include mobileControl2(
      (
        margin-top: 140px,
        width: 680px,
      )
    );
  }
}

@keyframes horizontal_reveal {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 0% 100%);
  }

  100% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
  }
}
