@use "../profile/SizeControl.scss" as *;

$ultra_wide_break: 1908px;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  overflow-x: hidden;

  .logo {
    position: absolute;
    margin-left: 15px;
    top: 31px;
    z-index: 3;

    @include dynamicControl(
      (
        margin-left: 15px,
        top: 31px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1545.98px
    );

    @include ultraWideControl(
      (
        margin-left: 15px,
        top: 31px,
      ),
      $start-point: $ultra_wide_break
    );

    @media (max-width: $mobile-breakpoint) {
      top: 19px;
    }

    img {
      width: 150px;
      height: auto;

      @include dynamicControl(
        (
          width: 150px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1545.98px
      );

      @include ultraWideControl(
        (
          width: 150px,
        ),
        $start-point: $ultra_wide_break
      );
    }
  }
}

.top {
  width: 100%;
  height: 280px;
  margin-bottom: -135px;
  animation: horizontal_reveal 2s ease-in-out;

  @include dynamicControl(
    (
      height: 280px,
      margin-bottom: -135px,
    ),
    $dynamic-start-point: $defaultDSP,
    $dynamic-end-point: 1545.98px
  );

  @include ultraWideControl(
    (
      height: 280px,
      margin-bottom: -135px,
    ),
    $start-point: $ultra_wide_break
  );
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;

  @include dynamicControl(
    (
      margin-top: 30px,
    ),
    $dynamic-start-point: $defaultDSP,
    $dynamic-end-point: 1545.98px
  );

  @include ultraWideControl(
    (
      margin-top: 30px,
    ),
    $start-point: $ultra_wide_break
  );

  @media (max-width: $mobile-breakpoint) {
    margin-top: 20px;
  }

  .lines {
    display: flex;
    flex-direction: row;
    gap: 400px;

    @include ultraWideControl(
      (
        gap: 400px,
      ),
      $start-point: $ultra_wide_break
    );

    @include dynamicControl(
      (
        gap: 400px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1545.98px
    );

    @media (max-width: $mobile-breakpoint) {
      gap: 220px;
    }

    @media (max-width: 600.98px) {
    }

    svg {
      width: 480px;
      height: auto;

      @include ultraWideControl(
        (
          width: 480px,
        ),
        $start-point: $ultra_wide_break
      );

      @include dynamicControl(
        (
          width: 480px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1545.98px
      );

      @include mobileControl(
        (
          width: 160px,
        )
      );

      @media (max-width: 600.98px) {
        width: 160px;
        opacity: 0;
      }
    }

    .line2 {
      transform: scaleX(-1);
    }
  }

  h1,
  h3 {
    text-align: center;
  }

  .header {
    margin-top: 45px;
    background: linear-gradient(0deg, #004e89, #0096f3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Optional for broader browser support */
    background-clip: text;
    color: transparent;
    width: 500px;
    height: 150px;
    margin-right: 10px;

    @include dynamicControl(
      (
        width: 500px,
        height: 150px,
        margin-right: 10px,
        margin-top: 45px,
        font-size: 90px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1300.98px
    );

    @include ultraWideControl(
      (
        width: 500px,
        height: 150px,
        margin-right: 10px,
        margin-top: 45px,
        font-size: 90px,
      ),
      $start-point: $ultra_wide_break
    );

    @include mobileControl2(
      (
        width: 500px,
        height: 150px,
        margin-right: 10px,
        margin-top: 70px,
        font-size: 90px,
      )
    );
  }

  .title {
    margin-top: 0px;
    margin-right: 0px;

    @include dynamicControl(
      (
        margin-top: 0px,
        margin-right: 0px,
        font-size: 20px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1300.98px
    );

    @include ultraWideControl(
      (
        font-size: 20px,
      ),
      $start-point: $ultra_wide_break
    );

    @include mobileControl2(
      (
        font-size: 20px,
      )
    );
  }

  .mountain {
    margin-top: 90px;
    width: 1200px;
    height: auto;

    @include dynamicControl(
      (
        margin-top: 90px,
        width: 1200px,
      ),
      $dynamic-start-point: $defaultDSP,
      $dynamic-end-point: 1300.98px
    );

    @include ultraWideControl(
      (
        margin-top: 90px,
        width: 1200px,
      ),
      $start-point: $ultra_wide_break
    );

    @include mobileControl2(
      (
        margin-top: 140px,
        width: 680px,
      )
    );
  }

  .footer_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .transition {
      width: 100vw;
      height: 100px;
      background: linear-gradient(180deg, #014c8d 0%, #000000 100%);
    }

    .canvas {
      margin: 0;
      margin-top: 100px;
      margin-bottom: 80px;
      padding: 0;
      box-sizing: border-box;
      background-color: black;
      mask-image: url("data:image/svg+xml,%3Csvg width='156' height='196' viewBox='0 0 156 196' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M146.267 0.00394346C147.427 -0.0234568 150.683 0.0194578 153.325 2.63773C155.978 5.26736 155.999 8.52308 155.999 9.37894C155.999 15.7119 155.257 25.5838 150.405 35.044C145.97 43.6933 138.334 51.5162 125.997 56.0518V140.663C125.997 165.557 111.092 181.742 92.7326 189.727C75.0378 197.421 53.4313 197.936 36.5558 191.825L35.7551 191.529C20.2533 185.669 9.62596 176.458 4.16521 164.835C-1.27255 153.26 -1.06513 140.403 2.93181 128.211L3.1447 127.58C7.72085 114.417 18.8613 106.128 30.3605 102.009C40.3989 98.4128 51.7709 97.5845 61.4474 99.9727V69.3868L45.8742 72.4112H45.1047C39.6214 72.4109 36.2605 68.7133 34.5666 65.6836C32.9097 62.7199 31.9485 59.0066 31.3234 55.1729L31.3107 55.0957L31.3 55.0186C30.8042 51.5538 30.5517 46.5704 30.4963 42.8545L30.4845 41.3477C30.4846 36.9749 31.123 30.5456 32.8888 25.8604L33.0148 25.544C34.3704 22.3169 37.3886 20.351 40.5666 20.0967L42.6164 19.919C49.1094 19.323 67.2726 17.3768 90.7638 12.5235L95.3596 11.5655C117.676 6.86319 130.203 3.53124 137.286 1.73832C139.17 1.26142 140.796 0.861596 142.136 0.576209C143.375 0.312383 144.851 0.0375022 146.267 0.00394346Z' fill='white'/%3E%3C/svg%3E");
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='156' height='196' viewBox='0 0 156 196' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M146.267 0.00394346C147.427 -0.0234568 150.683 0.0194578 153.325 2.63773C155.978 5.26736 155.999 8.52308 155.999 9.37894C155.999 15.7119 155.257 25.5838 150.405 35.044C145.97 43.6933 138.334 51.5162 125.997 56.0518V140.663C125.997 165.557 111.092 181.742 92.7326 189.727C75.0378 197.421 53.4313 197.936 36.5558 191.825L35.7551 191.529C20.2533 185.669 9.62596 176.458 4.16521 164.835C-1.27255 153.26 -1.06513 140.403 2.93181 128.211L3.1447 127.58C7.72085 114.417 18.8613 106.128 30.3605 102.009C40.3989 98.4128 51.7709 97.5845 61.4474 99.9727V69.3868L45.8742 72.4112H45.1047C39.6214 72.4109 36.2605 68.7133 34.5666 65.6836C32.9097 62.7199 31.9485 59.0066 31.3234 55.1729L31.3107 55.0957L31.3 55.0186C30.8042 51.5538 30.5517 46.5704 30.4963 42.8545L30.4845 41.3477C30.4846 36.9749 31.123 30.5456 32.8888 25.8604L33.0148 25.544C34.3704 22.3169 37.3886 20.351 40.5666 20.0967L42.6164 19.919C49.1094 19.323 67.2726 17.3768 90.7638 12.5235L95.3596 11.5655C117.676 6.86319 130.203 3.53124 137.286 1.73832C139.17 1.26142 140.796 0.861596 142.136 0.576209C143.375 0.312383 144.851 0.0375022 146.267 0.00394346Z' fill='white'/%3E%3C/svg%3E");
      mask-size: contain;
      -webkit-mask-size: contain;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-position: center;

      height: auto;

      @include dynamicControl(
        (
          width: 474px,
        ),
        $dynamic-start-point: 375px,
        $dynamic-end-point: 800px
      );
    }
  }
}

@keyframes horizontal_reveal {
  0% {
    clip-path: polygon(0% 100%, 0% 0%, 0% 0%, 0% 100%);
  }

  100% {
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
  }
}
