@use "./SizeControl.scss" as *;

$ultra_wide_break: 1908px;

.container {
  margin-top: -8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #014c8d;
  padding-bottom: 250px;

  @include dynamicControl(
    (
      padding-bottom: 250px,
    ),
    $dynamic-start-point: $defaultDSP,
    $dynamic-end-point: 1300.98px
  );

  @include ultraWideControl(
    (
      margin-top: -5px,
    ),
    $start-point: $ultra_wide_break
  );

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .profile_pic {
      width: 242px;
      height: auto;
      margin-top: 95px;

      @include dynamicControl(
        (
          margin-top: 95px,
          width: 242px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 95px,
          width: 242px,
        ),
        $start-point: $ultra_wide_break
      );

      @include mobileControl2(
        (
          margin-top: 75px,
          width: 192px,
        ),
        $targetWidth: 532px
      );
    }

    .welcome {
      margin-top: 30px;

      @include dynamicControl(
        (
          margin-top: 30px,
          font-size: 28px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 30px,
          font-size: 28px,
        ),
        $start-point: $ultra_wide_break
      );

      @include mobileControl2(
        (
          margin-top: 30px,
          font-size: 22.25px,
        ),
        $targetWidth: 532px
      );
    }

    .intro_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 200%;

      .intro {
        margin-top: 30px;

        @include dynamicControl(
          (
            margin-top: 30px,
          ),
          $dynamic-start-point: $defaultDSP,
          $dynamic-end-point: 1300.98px
        );

        @include ultraWideControl(
          (
            margin-top: 30px,
          ),
          $start-point: $ultra_wide_break
        );

        @include mobileControl2(
          (
            margin-top: 20px,
            font-size: 15.5px,
          ),
          $targetWidth: 532px
        );
      }

      .goal {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: italic;
        font-weight: bold;

        @include mobileControl2(
          (
            font-size: 15.5px,
          ),
          $targetWidth: 532px
        );
      }

      h4 {
        line-height: 200%;

        @include dynamicControl(
          (
            font-size: 19.5px,
          ),
          $dynamic-start-point: $defaultDSP,
          $dynamic-end-point: 1300.98px
        );

        @include ultraWideControl(
          (
            font-size: 19.5px,
          ),
          $start-point: $ultra_wide_break
        );

        // @include mobileControl2(
        //   (
        //     font-size: 15.5px,
        //   ),
        //   $targetWidth: 532px
        // );
      }
    }

    .dots {
      margin-top: 70px;

      @include dynamicControl(
        (
          margin-top: 70px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 70px,
        ),
        $start-point: $ultra_wide_break
      );

      @include mobileControl2(
        (
          margin-top: 70px,
        ),
        $targetWidth: 532px
      );

      svg {
        height: auto;

        @include dynamicControl(
          (
            width: 59px,
          ),
          $dynamic-start-point: $defaultDSP,
          $dynamic-end-point: 1300.98px
        );

        @include ultraWideControl(
          (
            width: 59px,
          ),
          $start-point: $ultra_wide_break
        );
      }
    }

    .experience {
      margin-top: 70px;

      @include dynamicControl(
        (
          margin-top: 70px,
          font-size: 28px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 70px,
          font-size: 28px,
        ),
        $start-point: $ultra_wide_break
      );

      @include mobileControl2(
        (
          margin-top: 70px,
          font-size: 22.25px,
        ),
        $targetWidth: 532px
      );
    }

    .logos {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      gap: 50px;
      z-index: 2;

      @include dynamicControl(
        (
          margin-top: 60px,
          gap: 50px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 60px,
          gap: 50px,
        )
      );

      @include mobileControl2(
        (
          margin-top: 50px,
          gap: 40px,
        ),
        $targetWidth: 532px
      );

      .infini_button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        border: 0px;

        cursor: pointer;

        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

        @media (min-width: $targetViewWidth) {
          &:hover {
            transform: scale(1.025);
          }

          &:active {
            opacity: 0.8;
          }
        }

        @media (max-width: $targetViewWidth) {
          &:active {
            transform: scale(1.025);
          }
        }

        .infini {
          width: 290px;
          height: auto;
          user-select: none;

          @include dynamicControl(
            (
              width: 290px,
            ),
            $dynamic-start-point: $defaultDSP,
            $dynamic-end-point: 1300.98px
          );

          @include ultraWideControl(
            (
              width: 290px,
            ),
            $start-point: $ultra_wide_break
          );

          @include mobileControl2(
            (
              width: 200px,
              margin-left: -15px,
            ),
            $targetWidth: 532px
          );
        }

        .valhalla {
          width: 261px;
          height: 94px;
          user-select: none;

          @include dynamicControl(
            (
              width: 261px,
              height: 94px,
            ),
            $dynamic-start-point: $defaultDSP,
            $dynamic-end-point: 1300.98px
          );

          @include ultraWideControl(
            (
              width: 261px,
              height: 94px,
            ),
            $start-point: $ultra_wide_break
          );

          @include mobileControl2(
            (
              width: 200px,
              height: 72px,
            )
          );
        }
      }
    }

    .job_title {
      margin-top: 15px;

      @include mobileControl2(
        (
          font-size: 15.5px,
          margin-top: 18px,
        ),
        $targetWidth: 532.9px,
        $important: true
      );
    }

    .role {
      width: 1000px;
      margin-top: 20px;
      text-align: center;
      z-index: 3;

      line-height: 150% !important;

      font-size: 19.5px;

      @include dynamicControl(
        (
          width: 1000px,
          margin-top: 20px,
        ),
        $dynamic-start-point: 532.9px,
        $important: true,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          width: 1000px,
          margin-top: 20px,
          font-size: 19.5px,
        ),
        $important: true,
        $start-point: $ultra_wide_break
      );

      @include mobileControl2(
        (
          width: 460px,
          margin-top: 20px,
          font-size: 15.5px,
          margin-bottom: 50px,
        ),
        $targetWidth: 532.9px,
        $important: true
      );

      a {
        color: var(--color-aTag);
      }
    }

    .role2 {
      @include mobileControl2(
        (
          margin-bottom: 15px,
        ),
        $important: true,
        $targetWidth: 532.9px
      );
    }

    .role1 {
      @media (max-width: 950.98px) and (min-width: 599.9px) {
        margin-bottom: 25px !important;
      }
    }

    .experience_sections {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      margin-top: -50px;
      padding-bottom: 100px;

      @include dynamicControl(
        (
          margin-top: -50px,
          padding-bottom: 100px,
        )
      );
    }

    .experience_sections_bg {
      position: absolute;
      top: 220px;
      width: 100%;
      height: 100%;

      @include dynamicControl(
        (
          top: 220px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          top: 220px,
        ),
        $start-point: $ultra_wide_break
      );
    }

    .blue_gap {
      margin-top: 39px;

      @include dynamicControl(
        (
          margin-top: 39px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 39px,
        ),
        $start-point: $ultra_wide_break
      );
    }

    .experience_break {
      @include dynamicControl(
        (
          margin-bottom: -110px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      margin-bottom: -125px;
    }

    .first_section {
      margin-top: 80px;

      @include dynamicControl(
        (
          margin-top: 80px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 80px,
        ),
        $start-point: $ultra_wide_break
      );
    }

    .other_experience {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo {
        height: auto;

        @include dynamicControl(
          (
            width: 296px,
          ),
          $dynamic-start-point: $defaultDSP,
          $dynamic-end-point: 1300.98px
        );

        @include ultraWideControl(
          (
            width: 296px,
          ),
          $start-point: $ultra_wide_break
        );
      }

      .title {
        margin-top: 30px;

        @include dynamicControl(
          (
            font-size: 19.5px,
            margin-top: 30px,
          ),
          $dynamic-start-point: $defaultDSP,
          $dynamic-end-point: 1300.98px
        );

        @include ultraWideControl(
          (
            font-size: 19.5px,
            margin-top: 18px,
          ),
          $start-point: $ultra_wide_break
        );

        @include mobileControl2(
          (
            font-size: 17px,
            margin-top: 12px,
          ),
          $targetWidth: 532px
        );
      }

      .info {
        margin-top: 30px;
        text-align: left;
        line-height: 150%;

        @include dynamicControl(
          (
            font-size: 19.5px,
            margin-top: 50px,
          ),
          $dynamic-start-point: $defaultDSP,
          $dynamic-end-point: 1300.98px
        );

        @include dynamicControl(
          (
            font-size: 17.5px,
            margin-top: 50px,
          ),
          $dynamic-start-point: 800px,
          $dynamic-end-point: $defaultDSP
        );

        @include dynamicControl(
          (
            font-size: 13.5px,
            margin-top: 39px,
          ),
          $dynamic-start-point: 600.98px,
          $dynamic-end-point: 656.98px
        );

        @include ultraWideControl(
          (
            font-size: 19.5px,
            margin-top: 30px,
          ),
          $start-point: $ultra_wide_break
        );

        @include mobileControl2(
          (
            font-size: 11px,
            margin-top: 30px,
          ),
          $targetWidth: 532px
        );
      }

      .furbleImages {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        gap: 5px;

        @media (max-width: 800px) {
          flex-direction: column;
        }

        @include ultraWideControl(
          (
            margin-top: 50px,
            gap: 5px,
          ),
          $start-point: $ultra_wide_break
        );

        @include mobileControl2(
          (
            margin-top: 30px,
          ),
          $max-width: 800.98px
        );

        img {
          width: 339px;
          height: auto;

          @include ultraWideControl(
            (
              width: 339px,
            ),
            $start-point: $ultra_wide_break
          );

          @include dynamicControl(
            (
              width: 339px,
            ),
            $dynamic-end-point: 1135px,
            $dynamic-start-point: 800px
          );

          @include mobileControl2(
            (
              width: 339px,
            ),
            $max-width: 800.98px
          );
        }
      }
    }
  }
}
