@use "./SizeControl.scss" as *;

$ultra_wide_break: 1908px;

.container {
  margin-top: -8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #014c8d;
  padding-bottom: 250px;

  @include dynamicControl(
    (
      padding-bottom: 250px,
    ),
    $dynamic-start-point: $defaultDSP,
    $dynamic-end-point: 1300.98px
  );

  @include ultraWideControl(
    (
      margin-top: -5px,
    ),
    $start-point: $ultra_wide_break
  );

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .profile_pic {
      width: 242px;
      height: auto;
      margin-top: 95px;

      @include dynamicControl(
        (
          margin-top: 95px,
          width: 242px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 95px,
          width: 242px,
        ),
        $start-point: $ultra_wide_break
      );
    }

    .welcome {
      margin-top: 30px;

      @include dynamicControl(
        (
          margin-top: 30px,
          font-size: 28px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 30px,
          font-size: 28px,
        ),
        $start-point: $ultra_wide_break
      );
    }

    .intro_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 200%;

      .intro {
        margin-top: 30px;

        @include dynamicControl(
          (
            margin-top: 30px,
          ),
          $dynamic-start-point: $defaultDSP,
          $dynamic-end-point: 1300.98px
        );

        @include ultraWideControl(
          (
            margin-top: 30px,
          ),
          $start-point: $ultra_wide_break
        );
      }

      .goal {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: italic;
        font-weight: bold;
      }

      h4 {
        line-height: 200%;

        @include dynamicControl(
          (
            font-size: 19.5px,
          ),
          $dynamic-start-point: $defaultDSP,
          $dynamic-end-point: 1300.98px
        );

        @include ultraWideControl(
          (
            font-size: 19.5px,
          ),
          $start-point: $ultra_wide_break
        );
      }
    }

    .dots {
      margin-top: 70px;

      @include dynamicControl(
        (
          margin-top: 70px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 70px,
        ),
        $start-point: $ultra_wide_break
      );

      svg {
        height: auto;

        @include dynamicControl(
          (
            width: 59px,
          ),
          $dynamic-start-point: $defaultDSP,
          $dynamic-end-point: 1300.98px
        );

        @include ultraWideControl(
          (
            width: 59px,
          ),
          $start-point: $ultra_wide_break
        );
      }
    }

    .experience {
      margin-top: 70px;

      @include dynamicControl(
        (
          margin-top: 70px,
          font-size: 28px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 70px,
          font-size: 28px,
        ),
        $start-point: $ultra_wide_break
      );
    }

    .logos {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      gap: 50px;
      z-index: 2;

      @include dynamicControl(
        (
          margin-top: 60px,
          gap: 50px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 60px,
          gap: 50px,
        )
      );

      .infini_button {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        border: 0px;

        cursor: pointer;

        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

        &:hover {
          transform: scale(1.025);
        }

        &:active {
          opacity: 0.8;
        }

        .infini {
          width: 290px;
          height: auto;
          user-select: none;

          @include dynamicControl(
            (
              width: 290px,
            ),
            $dynamic-start-point: $defaultDSP,
            $dynamic-end-point: 1300.98px
          );

          @include ultraWideControl(
            (
              width: 290px,
            ),
            $start-point: $ultra_wide_break
          );
        }

        .valhalla {
          width: 261px;
          height: 94px;
          user-select: none;

          @include dynamicControl(
            (
              width: 261px,
              height: 94px,
            ),
            $dynamic-start-point: $defaultDSP,
            $dynamic-end-point: 1300.98px
          );

          @include ultraWideControl(
            (
              width: 261px,
              height: 94px,
            ),
            $start-point: $ultra_wide_break
          );
        }
      }
    }

    .role {
      width: 1000px;
      margin-top: 20px;
      text-align: center;
      z-index: 3;

      line-height: 150% !important;

      @include dynamicControl(
        (
          width: 1000px,
          margin-top: 20px,
          font-size: 19.5px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          width: 1000px,
          margin-top: 20px,
          font-size: 19.5px,
        ),
        $start-point: $ultra_wide_break
      );

      a {
        color: var(--color-aTag);
      }
    }

    .experience_sections {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      margin-top: -50px;
      padding-bottom: 100px;

      @include dynamicControl(
        (
          margin-top: -50px,
          padding-bottom: 100px,
        )
      );
    }

    .experience_sections_bg {
      position: absolute;
      top: 220px;
      width: 100%;
      height: 100%;

      @include dynamicControl(
        (
          top: 220px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          top: 220px,
        ),
        $start-point: $ultra_wide_break
      );
    }

    .blue_gap {
      margin-top: 39px;

      @include dynamicControl(
        (
          margin-top: 39px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 39px,
        ),
        $start-point: $ultra_wide_break
      );
    }

    .experience_break {
      @include dynamicControl(
        (
          margin-bottom: -110px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      margin-bottom: -125px;
    }

    .first_section {
      margin-top: 80px;

      @include dynamicControl(
        (
          margin-top: 80px,
        ),
        $dynamic-start-point: $defaultDSP,
        $dynamic-end-point: 1300.98px
      );

      @include ultraWideControl(
        (
          margin-top: 80px,
        ),
        $start-point: $ultra_wide_break
      );
    }
  }
}
