@use "../SizeControl.scss" as *;

$mobile-factor: 0.75;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .blue_container {
      width: 100%;
      position: relative;

      .blue_background {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-left: -5px;

        @include dynamicControl(
          (
            margin-left: -5px,
          )
        );

        @include ultraWideControl(
          (
            margin-left: -5px,
          )
        );

        @include mobileControl(
          (
            margin-left: -2px,
          )
        );

        filter: drop-shadow(0px 25px 0px rgb(0, 0, 0));

        @media (max-width: $mobile-breakpoint) {
          filter: drop-shadow(0px 3.5vw 0px rgb(0, 0, 0));
        }

        @media (min-width: $defaultDSP) and (max-width: $max-width) {
          filter: drop-shadow(0px 1.74vw 0px rgb(0, 0, 0));
        }

        @media (min-width: $ultra_wide_break_point) {
          filter: drop-shadow(0px 1.74vw 0px rgb(0, 0, 0));
        }

        svg {
          width: 100.5%;
          height: auto;
        }
      }

      .gold_line {
        width: 100%;
        margin-left: -5px;
        position: absolute;
        top: 31px;
        z-index: 0;

        @include dynamicControl(
          (
            margin-left: -5px,
            top: 31px,
          )
        );

        @include ultraWideControl(
          (
            margin-left: -5px,
            top: 31px,
          )
        );

        @include mobileControl(
          (
            margin-left: -1px,
            top: 25px,
          )
        );

        svg {
          width: 100.5%;
          height: auto;
        }
      }

      .gold_line_active {
        animation: horizontal_reveal 3s ease-in;
      }

      .video_and_text {
        z-index: 3;
        display: flex;
        flex-direction: row;
        position: absolute;
        align-items: center;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        gap: 80px;

        @include dynamicControl(
          (
            gap: 80px,
          )
        );

        @include ultraWideControl(
          (
            gap: 80px,
          )
        );

        @include mobileControl(
          (
            gap: 50px,
          )
        );

        @media (max-width: $mobile-breakpoint) {
          flex-direction: column;
          justify-content: center;
          height: 100%;
        }

        .right {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          z-index: 3;
          margin-top: 40px;

          @include dynamicControl(
            (
              margin-top: 40px,
            )
          );

          @include ultraWideControl(
            (
              margin-top: 40px,
            )
          );

          @include mobileControl(
            (
              margin-top: 0px,
            )
          );

          .normal {
            width: 650px;
            height: 365px;

            @include dynamicControl(
              (
                width: 650px,
                height: 365px,
              )
            );

            @include ultraWideControl(
              (
                width: 650px,
                height: 365px,
              )
            );

            @include mobileControl(
              (
                width: 650px * $mobile-factor,
                height: 365px * $mobile-factor,
              )
            );
          }

          iframe {
            width: 650px;
            height: 365px;
            border-radius: 10px;

            @include dynamicControl(
              (
                width: 650px,
                height: 365px,
                border-radius: 10px,
              )
            );

            @include ultraWideControl(
              (
                width: 650px,
                height: 365px,
                border-radius: 10px,
              )
            );

            @include mobileControl(
              (
                width: 650px * $mobile-factor,
                height: 365px * $mobile-factor,
                border-radius: 5px,
              )
            );

            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

            @media (min-width: $defaultDSP) and (max-width: $max-width) {
              box-shadow: 0.35vw 0.35vw 0.35vw rgba(0, 0, 0, 0.5);
            }

            @media (min-width: $ultra_wide_break_point) {
              box-shadow: 0.35vw 0.35vw 0.35vw rgba(0, 0, 0, 0.5);
            }

            @media (max-width: $mobile-breakpoint) {
              box-shadow: 1vw 1vw 0.8vw rgba(0, 0, 0, 0.5);
            }
          }
        }

        .left {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-left: 60px;
          margin-top: 40px;
          $mobile-factor-left: 0.75;

          @include dynamicControl(
            (
              margin-left: 60px,
              margin-top: 40px,
            )
          );

          @include ultraWideControl(
            (
              margin-left: 60px,
              margin-top: 40px,
            )
          );

          @include mobileControl(
            (
              margin-left: 0px,
              margin-top: 0px,
            )
          );

          @media (max-width: $mobile-breakpoint) {
            width: 100%;
            align-items: center;
          }

          .top {
            width: 100%;
            margin-left: -10px;

            @include dynamicControl(
              (
                margin-left: -10px,
              )
            );

            @include ultraWideControl(
              (
                margin-left: -10px,
              )
            );

            @include mobileControl(
              (
                margin-left: -8px,
              )
            );

            button {
              background-color: transparent;
              border: none;
              cursor: pointer;
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 60px;

              @include dynamicControl(
                (
                  gap: 60px,
                )
              );

              @include ultraWideControl(
                (
                  gap: 60px,
                )
              );

              @include mobileControl(
                (
                  gap: 50px,
                )
              );

              .infini {
                width: 100 * 0.8px;
                height: 81 * 0.8px;

                @include dynamicControl(
                  (
                    width: 100 * 0.8px,
                    height: 81 * 0.8px,
                  )
                );

                @include ultraWideControl(
                  (
                    width: 100 * 0.8px,
                    height: 81 * 0.8px,
                  )
                );

                @include mobileControl(
                  (
                    width: 100px * $mobile-factor-left,
                    height: 81px * $mobile-factor-left,
                  )
                );
              }

              .valhalla {
                width: 232 * 0.8px;
                height: 83 * 0.8px;

                @include dynamicControl(
                  (
                    width: 232 * 0.8px,
                    height: 83 * 0.8px,
                  )
                );

                @include ultraWideControl(
                  (
                    width: 232 * 0.8px,
                    height: 83 * 0.8px,
                  )
                );

                @include mobileControl(
                  (
                    width: 232px * $mobile-factor-left,
                    height: 83px * $mobile-factor-left,
                  )
                );
              }

              .title {
                font-weight: normal;
                color: white;

                @include dynamicControl(
                  (
                    font-size: 28px,
                  )
                );

                @include ultraWideControl(
                  (
                    font-size: 28px,
                  )
                );

                @include mobileControl(
                  (
                    font-size: 28px,
                  )
                );
              }

              transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

              &:hover {
                transform: scale(0.96);
              }
              &:active {
                opacity: 0.8;
              }
            }
          }

          .bottom {
            margin-top: 32px;

            @include dynamicControl(
              (
                margin-top: 32px,
              )
            );

            @include ultraWideControl(
              (
                margin-top: 32px,
              )
            );

            @include mobileControl(
              (
                margin-top: 40px,
              )
            );

            @media (max-width: $mobile-breakpoint) {
              width: 90%;
            }

            h5 {
              font-size: 16.2px;

              @include dynamicControl(
                (
                  font-size: 16.2px,
                )
              );

              @include ultraWideControl(
                (
                  font-size: 16.2px,
                )
              );

              @include mobileControl(
                (
                  font-size: 14px,
                )
              );
            }

            p {
              display: flex;
              flex-direction: column;
              line-height: 150%;
            }
            a {
              line-height: 150%;
              color: var(--color-aTag);
            }
          }
        }
      }
    }
  }
}

@keyframes horizontal_reveal {
  0% {
    clip-path: polygon(105% 100%, 105% 0%, 105% 0%, 105% 100%);
  }

  100% {
    clip-path: polygon(-5% 100%, -5% 0%, 105% 0%, 105% 100%);
  }
}
